body {
    margin: 0;
}

button {
  color: white;
  border-radius: 5px;
  margin: 0.2rem;
  padding: 4px 2px;
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  background-color: rgba(106, 175, 175, 0.6);
  padding: 0.5rem 1rem;
  margin: 2px;

}

button:hover {
    background-color: black;
}

.menus-container {
    left: 4%;
    top: 3%;
}

.text-align-center {
    text-align: center;
}

#hamburger {
    width: 90%;
}

.groups-container {
    display: none;
}

.display-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

#arabic-channels-buttons-container,
#iraq-channels-buttons-container,
#dutch-channels-buttons-container,
#english-channels-buttons-container {
    display: none;
    border-radius: 5px;
}

#iframe {
    width: 99vw;
    height: 99vh;
    pointer-events: none;
}

/* .channel-button {
    margin: 5px;
} */

.active-channel {
    font-weight: bolder;
    color: red;
    background-color: rgb(3, 2, 2, 0.8);
}

.display-flex {
    display: flex;
}
.display-block {
    display: block;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.border-none {
    border: none;
}

.width-100-percent {
    width: 100%;
}
